*{
    font-family: "Permanent Marker", cursive;
}
body{
    margin-bottom: 5px;
    height: 100vh;
    margin: 0;
    text-align: center;
}
h1{
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    font-size: 24px;
}

#heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px 25px 0 25px;
    margin-bottom: 20px;
}

.brand{
    display: flex;
    gap: 20px;
    align-items: center;
}

#search{
    display: flex;
    border-radius: 45px;
    width: 350px;
    font-size: 18px;
    height:35px ;
    padding-left: 10px;
    margin: auto;
    border: solid black 1px;
    box-shadow: 1px 2px 2px gray ;
}

.points{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    border: 1px solid gray;
    padding: 3px 13px;
    border-radius: 20px;
    height: 33px;
    box-shadow: 1px 2px  gray;
    margin-top: 1px;
}

p{
    margin: 0;
}

.options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.pfp{
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 1px 2px  gray;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
}

.thumbnail{
    display:flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

image{
    display: inline;

}

h2{
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

a{
    color: black;
    text-decoration: none;
}

button{
    cursor: pointer;

}

.linkedin{
    position: absolute;
    margin-bottom: 15px;
    bottom: 5px;
}

@media (max-width:770px)  {
    .gamestitle{
        font-size: 20px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
    }
    .menu{
        grid-template-columns: auto auto auto;
    }
    .thumbnail img{
        height:100px;
        width:100px;
    }
}

@media (max-width:500px){
    .gamestitle{
        font-size: 15px;
    }
    .brand{
        gap: 0;
    }
    h2{
        font-size: 14px;
    }
    .menu{
        grid-template-columns: auto auto;
    }
    .thumbnail img{
        height:85px;
        width:85px;
    }
    #heading img{
        width: 40px;
        height: 40px;
    }
    #search{
        display: none;
    }
    #heading{
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 10px 15px;
    }
}
